 .full-item {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}
.full-product-card {
  position: relative;
  margin: 5% auto;
  max-width: 820px;
  min-width: 700px;
  min-height: 450px;
  padding: 40px 30px;
  background: #fff;
}
.mini-gallery{
  width:  100px;
  height: 270px;
  cursor: pointer;
  float: left; 
  padding: 20px;
  margin: 5px 10px 5px 5px; 
  overflow: scroll;
}
.full-gallery1 {
  height: 90px;
  width: 90px;
  font-size: 25px;
  object-fit: cover;
  cursor:pointer;
  margin: 0px 0px 15px 0px;
  display: block;
  line-height: 100px;

  transition: transform 500ms ease;
}
.full-gallery1:hover{
  transform: scale(1.2);
  z-index: 9999;
}
.full-gallery {
  position: relative;
  min-height: 270px;
  height: auto;
  max-height: 450px;
  max-width: 350px;
  object-fit: cover;
  cursor:pointer;
  float: left; 
  margin: 5px 20px 5px 5px;

  transition: transform 500ms ease;
}
.full-gallery:hover{
transform: scale(1.1);
}
.close{
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: lightgrey;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  font-weight: 700;
  transition: transform 600ms ease;
}

.close:hover {
  transform: scale(1.1) translateY(-2px);
  background-color: black;
}

/* Description */
.brand{
position: relative;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 24px;
align-items: center;
color: #1D1F22;
}
.name{
position: relative;

font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
align-items: center;

color: #333436;

}
.atribut{
position: relative;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
align-items: center;
text-transform: uppercase;
color: #1D1F22;
}
.attributes{  
text-align: justify;
margin-bottom: 10px;

}
.size{
  display: inline-block;
  margin: 5px 5px 5px 5px; 
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #1D1F22;
  font-size: 16px;
}
.size:hover,
.size:active{
background: #1D1F22;
color:white;
}
.price{
font-size: 18px;
line-height: 14px;
}
.content{ 
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.96%;

color: #1D1F22;
}
.full-add-to-cart { 
  display: inline-block;
  margin: 25px 0px 10px 0px; 
  cursor: pointer;
  text-align: center;
  width: 35%;
  height: 50px;
  line-height: 50px;

background-color: #5ECE7B;
transition: transform 500ms ease;
}
.full-add-to-cart:hover {
  transform: scale(1.1) translateY(-1px);
}
.cart-label{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 16px;
text-transform: uppercase;
color: #FFFFFF; 
}

