div .product-card {
  position: relative;
  width: 350px;
  height: 440px;
  left: 90px;
  top: 90px;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  transition: box-shadow 500ms ease;
  cursor:pointer;
}
.product-card:hover {
  box-shadow: 4px 4px 10px 3px grey;
}

.good {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;

  width: 300px;
  height: 390px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.gallery {
  width: 320px;
  height: 325px;
  object-fit: contain;
  cursor:pointer;
}
.descrtiption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.title {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 18px;
  display: flex;
  align-items: flex-start;

  color: #8d8f9a;
}
.price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #5ece7b;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;

  transition: transform 500ms ease;
}
.add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
}
